services:
  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: testuser
      POSTGRES_PASSWORD: testpass
      POSTGRES_DB: testdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: flask_app
    ports:
      - "1234:1234"
    depends_on:
      - db
    environment:
      POSTGRES_HOST: db
      POSTGRES_USER: testuser
      POSTGRES_PASSWORD: testpass
      POSTGRES_DB: testdb
    command: ["python", "app.py"]

volumes:
  pgdata:
